/.idea/
/video/background_footage/*
config.json
/output/*
/screenshot/reddit_screenshot.png
/video/tts.mp3
/misc/
/video/__pycache__/
/video/__pycache__
/screenshot/__pycache__/
/screenshot/__pycache__
/reddit/__pycache__/
/reddit/__pycache__
/ffmpeg.exe
/ffplay.exe
/ffprobe.exe
/client.json
/token.json
upload.py
.env
googlekey.json